@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root{
    --birumuda :rgb(94, 198, 233);
}

body{
    background-color:var(--birumuda);
    margin: 5% 5% 5% 5%;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.Foto {
    text-align: justify;
    font-weight: 700;
    line-height: 2;
}


.padding{
    padding: 10px 10px 10px 10px;
    width: 100%;
    min-height: 200px;
    text-align: justify;
    background-color: rgb(100, 205, 237);
    border: 10px black;
}

.Pendidikan {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 75%;
}

.Pendidikan th {
    background-color: var(--birumuda);
    color: darkblue;
    text-align: center;
}

.Pendidikan td {
    font-size: 1.5vw;
    text-align: center;
    background-color: lightblue;
}

h1, h2{
    color: darkblue;
}